
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HOMEEE ArtHouse</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
 
</head>
<body>
    <video autoplay loop muted plays-inline class="back-video">
        <source src="assets/background.mp4" type="video/mp4">
     </video>

     <h3 class="inicio_texto"> Creatividad sin límites</h3>
</body> 

</html>