<div class="sidebar-nav" *ngIf="sesion$ | async as sesion">
    <nav class="navbar navbar-light">
        <div class="container">
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li><a routerLink="inicio"><span class="item-text">Inicio</span></a></li>
                        <li><a routerLink="cursos/cursos-lista"><span class="item-text">Cursos</span></a></li>
                        <li><a routerLink="alumnos"><span class="item-text">Alumnos</span></a></li>
                        <li><a routerLink="inscripciones/lista"><span class="item-text">Inscripciones</span></a></li>
                        <li><a routerLink="recibi"><span class="item-text">Novedades</span></a></li>
                    </ul>
              </div>
            </div>
            <a class="navbar-brand" href="#">
                <img src="assets/logo.png" alt="ArtHouse logo" width="126" height="22">
              </a>
            <div class="btn-group">
                   <a routerLink="login" class="dropdown-toggle text-white text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">

                    <span class="usericon" *ngIf="sesion.sesionActiva; else inactiva"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-emoji-sunglasses" viewBox="0 0 16 16">
                        <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
                      </svg>   {{ sesion.usuarioActivo?.usuario }}</span>
                    <ng-template #inactiva><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg>    Iniciar Sesión</span></ng-template>


         <!--       <h5>{{ sesion$ | async | json}}</h5> -->
          </a>
          <!--       <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="button"><i class="bi bi-lock-fill"></i> Cambiar contraseña</button></li>
                    <li><button class="dropdown-item" type="button"><i class="bi bi-gear-fill"></i> Admin</button></li>
                    <li><button class="dropdown-item" type="button"><i class="bi bi-gear-wide-connected"></i>Configuración</button></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><button class="dropdown-item" type="button"><i class="bi bi-box-arrow-right"></i> Salir</button></li>
                </ul> -->
            </div>
        </div>
    </nav>
  </div>