

<div class="sidebar-nav">
    <nav class="navbar navbar-light">
        <div class="container">
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li><a routerLink="inicio"><span class="item-text">Inicio</span></a></li>
                        <li><a routerLink="cursos/cursos-lista"><span class="item-text">Cursos</span></a></li>
                        <li><a routerLink="alumnos"><span class="item-text">Alumnos</span></a></li>
                        <li><a href="#"><span class="item-text">Profesores</span></a></li>
                    </ul>
              </div>
            </div>
            <a class="navbar-brand" href="#">
                <img src="assets/logo.png" alt="ArtHouse logo" width="126" height="22">
              </a>
            <div class="btn-group">
                <a routerLink="login" class="dropdown-toggle text-white text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="usericon">Iniciar Sesión </span>
<!--                     <h5>Demo Router {{ sesion$ | async | json}}</h5>
 -->                </a>
          <!--       <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="button"><i class="bi bi-lock-fill"></i> Cambiar contraseña</button></li>
                    <li><button class="dropdown-item" type="button"><i class="bi bi-gear-fill"></i> Admin</button></li>
                    <li><button class="dropdown-item" type="button"><i class="bi bi-gear-wide-connected"></i>Configuración</button></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><button class="dropdown-item" type="button"><i class="bi bi-box-arrow-right"></i> Salir</button></li>
                </ul> -->
            </div>
        </div>
    </nav>
  </div>